[Unit]
Description=Jail Move Monitor service.

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/LOGmoveControl.sh

[Install]
WantedBy=multi-user.target
