[Unit]
Description=Jail Modification Monitor service.

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/LOGmodifyControl.sh

[Install]
WantedBy=multi-user.target
